/* You can add global styles to this file, and also import other style files */
@import '~carbon-components/scss/globals/scss/styles.scss';
@import "style/flex";

html, body, #root {
  height: 100%;
}

.bx--content {
  overflow-x: hidden;
  height: calc(100% - 3rem);
}
